body {
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 1fr 30px;
}

.header {
  border-bottom: 1px solid lightgrey;
}

.sidebar {
  border-right: 1px solid lightgrey;
}

.footer {
  border-top: 1px solid lightgrey;
}

.body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;
}

.content {
  overflow-y: scroll;
  padding: 20px;
}

p {
  max-width: 600px;
}
